.container-board-teste {
    margin-top: 0px;   
    margin-left: 15px;
    margin-bottom:15px;
    margin-right:15px;
    box-shadow: 0 0 10px #A9A9A9;
    padding:0 15px 0 15px;
}

.container-board {        
    color: black;    
    flex-direction: column;
    flex-wrap: wrap;
    height: 240px;
    margin-left: 2px;
    margin-top: 5px;
    padding: 13px;      
    box-shadow: .05vw 1px 10px #a3aaaa; 
    border: none;
    border-top: none;
    overflow: hidden;
}


.container-board.activities {        
    color: black;    
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;    
    height: 100%;
    margin-left: 1px;
    margin-top: 5px;
    padding: 13px;    
    box-shadow: .05vw 1px 10px #a3aaaa; 
    border: none;
    border-top: none;
}

.title-board {
    font-weight: bold;
    font-size: 15px;    
}