
@media only screen and (min-width: 730px) {
    .containter-summaryClient{
        display: grid;
        grid-template-columns: repeat(2,50%);        
    }
}    

@media only screen and (min-width: 999px) {
    .containter-summaryClient{
        display: flex;
        flex-direction: column;
    }
    
    .container-board{
        width: 100%;           
    }
}    

@media only screen and (min-width: 1000px) {
    .containter-summaryClient{
        display: grid;
        grid-template-columns: repeat(2,50%);        
    }

    .grid-boards{
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
}    

