.circle-item-timeline {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: ' ';
    size: 25px;
    margin-left: -20px;
    position: absolute;
    opacity: 1;
    display: inline !important;
    background-blend-mode: overlay;
    background-blend-mode: color;
    z-index: 500;
}
